.reactimg {
  height: 100% !important;
  width: 100% !important;
  border-radius: 50%;
  padding: 20px 10px;
}
.maincard {
  margin: 120px 300px;
  padding: 50px;
}
@media only screen and (max-width: 1300px) {
  .maincard {
    margin: 120px 40px !important;
    padding: 40px;
  }
}
@media only screen and (max-width: 770px) {
  .cardbody {
    text-align: center !important;
  }
  .reactimg {
    width: 60% !important;
    margin-left: 110px;
    margin-top: 20px;
  }
  .maincard {
    padding: 0px !important;
  }
}
@media only screen and (max-width: 560px) {
  .reactimg {
    width: 70% !important;
    margin-left: 60px !important;
  }
}
@media only screen and (max-width: 430px) {
  .reactimg {
    margin-left: 40px !important;
  }
}
.buttons {
  padding: 200px auto !important;
}
